@import '../../../styles/colors';

.userDataItem {
  border-top: 0.1rem solid rgba(#fff, 0.1);
  &__label {
    color: $user-data-label-color;
    font-size: 1.4rem;
    &Smaller {
      display: inline-block;
      font-size: 1.1rem;
      color: lighten($user-data-label-color, 15%);
    }
    > .userDataItem__labelSmaller {
      margin-left: 1rem;
    }
  }
  &__value {
    font-size: 2rem;
    color: $user-data-value-color;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  + .userDataItem {
    margin-top: 2rem;
  }
}
